<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794110144670-f6t4j9sp8go65sf7svoo3nkt5b6m6051.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794110144670-f6t4j9sp8go65sf7svoo3nkt5b6m6051</string>
	<key>API_KEY</key>
	<string>AIzaSyD6hfZKQ14xeTAX35Su3zYzCG_11dTgkSU</string>
	<key>GCM_SENDER_ID</key>
	<string>794110144670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uyanikKutuphane.uyanikYonetim</string>
	<key>PROJECT_ID</key>
	<string>uyanikyonetim</string>
	<key>STORAGE_BUCKET</key>
	<string>uyanikyonetim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794110144670:ios:4c7473ec642222f6448b8f</string>
</dict>
</plist>