<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165048237857-l6271o0s85ul3ll0oiukp93kbjgiv4vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165048237857-l6271o0s85ul3ll0oiukp93kbjgiv4vd</string>
	<key>API_KEY</key>
	<string>AIzaSyAEqE3hPmWvG3fZ6a1LA8k7FDDbK9pRvhA</string>
	<key>GCM_SENDER_ID</key>
	<string>165048237857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uyanikKutuphane.UyanikKutuphane</string>
	<key>PROJECT_ID</key>
	<string>uyanik-kutuphane-antalya</string>
	<key>STORAGE_BUCKET</key>
	<string>uyanik-kutuphane-antalya.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165048237857:ios:8fe2a742421ce7b0808860</string>
</dict>
</plist>